<div class="nts-fullscreen nts-fullscreen--sticky nts-fullscreen--always">
    <div class="nts-sticky nts-sticky--always js-sticky">
        <div class="nts-map js-map">
            <img class="nts-map__map" src="{{=it.config.assetPath}}/assets/imgs/map.png" />
            <ul class="nts-map__tests">
                {{~it.tests :test:i}}
                    <li class="nts-map__tests__test js-test"
                        style="top: {{=test.point[1]}}%; left: {{=test.point[0]}}%;
                            width: {{=test.yield}}px; height: {{=test.yield}}px;
                            margin-top: {{=test.yield / -2}}; margin-left: {{=test.yield / -2}}px">
                    </li>
                {{~}}
            </ul>
            <div class="nts-map__stats">
                <h2 class="nts-map__stats__year js-year"></h2>
                <p class="nts-map__stats__count js-count"></h2>
            </div>
        </div>
        <button class="nts-map-restart js-restart">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="24" height="24" viewBox="0 0 24 24">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M12 5V1L7 6l5 5V7c3.31 0 6 2.69 6 6s-2.69 6-6 6-6-2.69-6-6H4c0 4.42 3.58 8 8 8s8-3.58 8-8-3.58-8-8-8z"/>
            </svg>
            Replay the tests
        </button>
    </div>
</div>
