body,
figure.interactive {
    margin: 0;
    padding: 0;
    background-color: #dcdcdc;
    color: #333;
}

// Link styles don't exist on the app
a {
    &,
    &:hover,
    &:active {
        color: #005689;
    }

    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

p {
    margin: 0 0 8px 0;
    &:last-child {
        margin-bottom: 0;
    }
}

.nts-section {
    overflow: hidden;
}

.nts-container,
.nts-headline {
    margin: 0 auto;
    box-sizing: border-box;

    padding: 10px;
    @include mq(mobileLandscape) {
        padding: 20px;
    }

    @each $bp in (tablet, desktop, leftCol, wide) {
        @include mq($bp) {
            max-width: map-get($mq-breakpoints, $bp);
        }
    }
}

.nts-container {
    background-color: white;
}

.nts-fullscreen {
    position: relative;
    height: 100vh;
}

.nts-photo {
    background-size: cover;
    background-position: center;
}

.nts-photo__caption {
    position: absolute;
}

.nts-headline-container {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
}

.nts-headline__quote {
    @include f-headline;
    font-size: 70px;
    line-height: 1.25;
    color: #eaeaea;
    mix-blend-mode: exclusion;
}

.nts-headline__author {
    text-align: right;
    font-size: 20px;
    &::before {
        content: "\2014\00a0";
    }
}

.nts-text {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 1.5em;

    @include mq(desktop) {
        font-size: 18px;
        line-height: 1.7;

        margin-left: auto;
        margin-right: auto;
        max-width: 660px;
        padding-left: 240px;
    }

    @include mq(leftCol) {
        padding-left: 0;
    }
}
