html {
    overflow-x: hidden;
}

body,
figure.interactive {
    margin: 0;
    padding: 0;
    background-color: #dcdcdc;
    color: #333;

    font-size: 16px;
    line-height: 1.6;
    @include mq(desktop) {
        font-size: 18px;
        line-height: 1.7;
    }

    overflow-x: hidden;
}

// Link styles don't exist on the app
a {
    &,
    &:hover,
    &:active {
        color: #005689;
    }

    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

p {
    margin: 0;
}

.nts-container,
.nts-header {
    margin: 0 auto;
    box-sizing: border-box;

    @each $bp in (tablet, desktop, leftCol, wide) {
        @include mq($bp) {
            max-width: map-get($mq-breakpoints, $bp);
        }
    }
}

.nts-container {
    background-color: white!important;

    @include mq(desktop) {
        &.nts-container--inline {
            margin-top: -1.5em;
        }
    }
}

.nts-fullscreen {
    position: relative;
    background-color: #000;
    @include mq(desktop) {
        height: 100vh;
    }

    &.nts-fullscreen--always {
        height: 100vh;
        overflow: hidden;
    }
}

.nts-text {
    padding-bottom: 1.5em;
    &:first-child {
        padding-top: 1.5em;
    }

    margin: 0 10px;
    @include mq(mobileLandscape) {
        margin: 0 20px;
    }

    @include mq(desktop) {
        margin-left: auto;
        margin-right: auto;
        max-width: 660px;
        padding-left: 240px;
    }

    @include mq(leftCol) {
        padding-left: 0;
    }
}

.nts-text--empty {
    padding-bottom: 0;
}

.nts-byline {
    color: #767676;
    padding: 1.5em 10px 0;
    @include mq(mobileLandscape) {
        padding: 1.5em 20px 0;
    }
    @include mq(desktop) {
        float: left;
        max-width: 190px;
    }
    @include mq(wide) {
        max-width: 270px;
    }
}

.nts-byline__date {
    @include fs-textSans(2);
    padding: 2px 0 6px;
}

.nts-byline__byline {
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
}

.nts-related-header {
    @include fs-header(3);
    border-top: 1px solid #bdbdbd;
    padding: 4px 0 12px;
    margin: 0;
}

.nts-related-container {
    margin-top: -10px;
    @include mq(mobileLandscape) {
        margin-top: -20px;
        margin-left: -20px;
    }
}

.nts-related {
    display: block;
    min-height: 300px;
    background-color: #f6f6f6;
    color: #333;

    &:hover {
        background-color: #eaeaea;
        text-decoration: none;
        color: #333;
    }

    box-shadow: -10px 0 0 0 white, -11px 0 0 0 #dcdcdc;

    margin-top: 10px;
    @include mq(mobileLandscape) {
        margin-top: 20px;
        margin-left: 20px;
        width: calc(50% - 20px);
        float: left;
    }
}

.nts-related__image {
    display: block;
    width: 100%;
}

.nts-related__title {
    @include fs-headline(3);
    font-weight: 500;
    line-height: 1.25;
    padding: 3px 5px 10px;
}

.nts-gallery {
    position: relative;
    padding-bottom: 56.25%;
    background-color:#FFF;
    @include mq(desktop) {
        padding-bottom: 0;
    }
}

.nts-photo {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;

    opacity: 0;
    transition: opacity 0.5s linear;
    &[data-visible] {
        opacity: 1;
    }
}

.nts-photo-prev,
.nts-photo-next {
    position: absolute;
    top: 0;
    height: 100%;

    cursor: pointer;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 0;

    width: 90px;
    @include mq(tablet) {
        width: 130px;
    }

    & > svg {
        display: inline-block;
        border-radius: 100px;
        border: 1px solid white;
        color: white;
        transition: all 0.2s ease-out;
        &:hover {
            color: #4bc6df;
            border-color: #4bc6df;
        }
        width: 48px;
        height: 48px;
        @include mq(tablet) {
            width: 96px;
            height: 96px;
            border-width: 2px;
        }
    }

    transition: opacity 0.2s ease-out;
    &:disabled {
        opacity: 0;
        cursor: auto;
    }
}

.nts-photo-prev {
    left: 0;
}

.nts-photo-next {
    right: 0;
}
