body,
figure.interactive {
    margin: 0;
    padding: 0;
    background-color: #dcdcdc;
}

// Link styles don't exist on the app
a {
    &,
    &:hover,
    &:active {
        color: #005689;
    }

    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.interactive-es6-headline {
	@include fs-headline(5);
}

.nts-container,
.nts-headline {
    margin: 0 auto;
    box-sizing: border-box;

    padding: 10px;
    @include mq(mobileLandscape) {
        padding: 20px;
    }

    @each $bp in (tablet, desktop, leftCol, wide) {
        @include mq($bp) {
            max-width: map-get($mq-breakpoints, $bp);
        }
    }
}

.nts-container {
    background-color: white;
}

.nts-fullscreen {
    height: 100vh;
    overflow: hidden;
}

.nts-photo {
    position: relative;
    background-size: cover;
    background-position: center;
}

.nts-photo__caption {
    position: absolute;
}

.nts-headline-container {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
}

.nts-headline__quote {
    @include f-headline;
    font-size: 70px;
    line-height: 1.25;
    color: #eaeaea;
    mix-blend-mode: exclusion;

    &::before {
        content: "\201c";
    }
    &::after {
        content: "\201d";
    }
}

.nts-headline__author {
    text-align: right;
    font-size: 20px;
    &::before {
        content: "\2014\00a0";
    }
}

.nts-video {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
