.nts-header {
    position: relative;

    color: white;
    min-height: 200px;
    line-height: 1.25;

    padding: 10px;
    @include mq(mobileLandscape) {
        padding: 20px;
    }
    @include mq(tablet) {
        min-height: 250px;
    }
    @include mq(desktop) {
        min-height: 300px;
    }

    &.nts-header--collapsed {
        min-height: 0;
    }

    &::after {
        content: "";
        display: block;
        clear: both;
    }
}

.nts-header__headline {
    @include f-headline;
    line-height: 1.2;
    max-width: 720px;

    &.nts-header__headline--1 {
        text-shadow: 4px 4px rgba(0, 0, 0, 0.5);
        font-size: 80px;
        max-width: 100%;
        @include mq(desktop) {
            font-size: 100px;
        }
        @include mq(leftCol) {
            font-size: 120px;
        }
    }
    &.nts-header__headline--2 {
        font-size: 40px;
        max-width: 100%;
        @include mq(desktop) {
            font-size: 48px;
        }
        text-shadow: 2px 2px rgba(0, 0, 0, 0.5)
    }
    &.nts-header__headline--3 {
        font-size: 21px;
        @include mq(tablet) {
            font-size: 28px;
        }
        @include mq(desktop) {
            font-size: 36px;
        }
    }
    &.nts-header__headline--4 {
        font-size: 16px;
        @include mq(tablet) {
            font-size: 24px;
        }
        @include mq(desktop) {
            font-size: 28px;
        }
    }
}

.nts-header__author {
    margin-top: 8px;
    &::before {
        content: "\2014\00a0";
    }
}

.nts-header__image {
    display: none;
    @include mq(mobileLandscape) {
        display: block;
        width: 200px;
        float: right;
        margin-left: 20px;
        padding-right: 40px;
    }
    @include mq(tablet) {
        width: 300px;
    }
}

.nts-header__sub {
    @include f-textSans;
    font-size: 14px;

    display: none;
    @include mq(tablet) {
        display: block;
        position: absolute;
        bottom: 20px;
    }
}

