$map-width: 1555px;
$map-height: 894px;

.nts-map {
    position: relative;
    display: inline-block;

    &[data-ratio='wider'] {
        left: 50%;
        &, & > .nts-map__map {
            height: 100%;
        }
        & > .nts-map__tests,
        & > .nts-map__map {
            margin-left: -50%;
        }
    }
    &[data-ratio='taller'] {
        top: 50%;
        margin-top: -($map-height / $map-width * 50%);
        &, & > .nts-map__map {
            width: 100%;
        }
    }
}

.nts-map__tests {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    list-style: none;
    margin: 0;
    padding: 0;
}

.nts-map__tests__test {
    position: absolute;
    border-radius: 100px;
    background-color: transparentize(#ff9b0b, 0.3);
}

.nts-map__tests__test__name {
    display: none;
    pointer-events: none;
    .nts-map__tests__test:hover > & {
        display: block;
    }
}
