$scroll-tolerance: 40px;

.nts-sticky {
    width: 100%;
    height: 100%;
}

@include mq(desktop) {
    .nts-fullscreen--sticky {
        padding-bottom: $scroll-tolerance;
        overflow: hidden;
    }

    .nts-sticky {
        &.is-sticky,
        &.is-bottom {
            z-index: 100;
            left: 0;
        }

        &.is-sticky {
            position: fixed;
            top: 0;
        }

        &.is-bottom {
            position: relative;
            top: $scroll-tolerance;
        }
    }
}
